<li>
	{{name}}

	<button class="change-eat" data-id="{{id}}" data-newEat="{{eat}}">
		{{#if eat}}Eatz!{{else}}was gud{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">delete</button>
</li>
